@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<form class="p-2  d-flex " action="/product/index">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="searh" class="form-control w-auto" id="search" name="search" value="@ViewBag.Search">
    <button type="submit" class="btn btn-primary mx-2">Search</button>


</form>

<h1>Product</h1>
<a href="/product/create">Create a new product</a>
@{
    string iconClass="";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        iconClass = "fa-sort-asc";
    }else
    {
        iconClass = "fa-sort-desc";
    }

}


<table class="table">
    <tr>
        <th>
            <a href="/product/index?SortColumn=ProductId&iconClass=@iconClass">ProductID"</a>
            @if (ViewBag.SortColumn=="ProductId")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }
        
        
        </th>
        <th>
            <a href="/product/index?SortColumn=ProductName&iconClass=@iconClass">ProductName"</a>
            @if (ViewBag.SortColumn == "ProductId")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }


        </th>
        <th>
            <a href="/product/index?SortColumn=Price&iconClass=@iconClass">Price</a>
            @if (ViewBag.SortColumn == "Price")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }


        </th>
        <td>Date of purchase</td>
        <td>Availability</td>
        <td>Category ID</td>
        <td>brand id</td>
        <td>active</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td><a href="/product/detail/@item.ProductId">@item.ProductName</a></td>
            <td>@item.Price.Value.ToString("C")</td>
            <td>@item.DateOfPurchase</td>
            <td>@item.AvailabilityStatus</td>
            <td>@item.Category.CategoryName</td> 
            <td>@item.Brand.BrandName</td>
            <td>@item.Active</td>
            <td> <a href="/product/edit/@item.ProductId">Edit</a>  </td>
            <td> <a href="/product/delete/@item.ProductId">Delete</a></td>
        </tr>
    }
</table>
